@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}



body {

    font-family: Raleway, sans-serif;
    font-family: 300;
    color:rgb(255, 0, 0);
}







h1, h2 {
    font-family: Raleway sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: blue;
}

#logo {
    float: left;
    font-size: 280%;
}


