@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}




body {

    font-family: Raleway, sans-serif;
    font-family: 300;
    color:rgb(255, 0, 43);
}



/* heading and logo */


h1, h2 {
    font-family: Raleway sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(17, 0, 255);
   
    
}

#logo {
    text-align: center;
    font-size: 100%;
   
    
   
}


/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 5px;
}


#menu, #logo {
    line-height: 75px;

}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    overflow: hidden;
}



/* hero image */




#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/pexels-photo-3184296.jpeg') no-repeat center center;
}

#cover-text, #cover-text h2 {
    color: #555
}



/* history */


#history {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
    background-color: blue;
   
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
    background-color: chartreuse;
    
}
